:root {
  --header-height: 92px;

  --ribbon-outer-height: 8rem;
  --ribbon-inner-height: 6rem;
  --ribbon-difference: calc(var(--ribbon-outer-height) - var(--ribbon-inner-height));

  --under-ribbon-padding: 0.5rem;
}

.ribbon-outer {
  height: var(--ribbon-outer-height);
  position: sticky;
  top: calc(var(--header-height) - var(--ribbon-difference));

  /* The layout, always center the inner ribbon in the outer ribbon. */
  display: flex;
  align-items: center;
}

.ribbon-inner {
  position: sticky;
  height: var(--ribbon-inner-height);
  top: var(--header-height);
}

.sticky-under-ribbon {
  position: sticky;
  top: calc(var(--header-height) + var(--ribbon-inner-height));

  padding-top: var(--under-ribbon-padding);
}
