/*
  The uiwjs markdown overrides.
*/

.wmde-markdown ul {
  list-style-type: disc;
}

.wmde-markdown ol {
  list-style-type: decimal;
}

/*
  The entity height overrides.
*/

.wizard-content-xl {
  min-height: 60vh;
}

.wizard-content {
  min-height: 40vh;
}

.bb-content {
  max-height: 40vh;
}

/*
  NextJS Image override.
  https://github.com/vercel/next.js/issues/18915#issuecomment-1005128405
*/

.image-block-hack > span {
  display: block !important;
}

.image-h-full-hack > span {
  height: 100% !important;
}

/*
  React comments section overrides
 */
.rdw-editor-main {
  overflow: auto !important;
}
